.camera_container {
  position: relative;
  width: 100%;
  padding-bottom: 67.5%; /* 이미지 크기는 550px * 370px */
}

.control_container {
  position: absolute;
  left: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 74px;
  background-color: white;
}

.photo_count_text {
  position: absolute;
  display: flex;
  left: 15%;
  transform: translate(-50%, 0%);
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}
.camera_button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 20px;
  border: none;
  background-color: #fc8da1;
  color: white;
  border-radius: 50%;
  margin-bottom: 6%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.mute_button {
  position: absolute;
  left: 85%;
  display: flex;
  transform: translate(-50%, 0%);
  padding: 15px 12px 16px 17px;
  margin-bottom: 30px;
  border: none;
  color: #555555;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.displaynone {
  display: none;
}
.mirror {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}
.box {
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 화면 높이 - 헤더 - 컨트롤 버튼 - 카메라 */
.rest_container {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.tab_container {
  display: flex;
  align-items: center;
  width: 100%;
  /* padding-bottom: 100vh - 67.5% - 74px; */
}

.tab_contents_container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  height: 67.5%;
}

.tab_content_img_box {
  width: calc(100% / 3);
  height: 150px;
  object-fit: cover;
  padding: 10px;
  border-radius: 30px;
}
.tab_content_input_box {
  width: calc(100% / 3);
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
  padding: 10px 0px;
  border-radius: 30px;
  border: 1px black;
  font-size: x-large;
}
/* 선택된 이미지용 */
.tab_content_img_box_selected {
  width: calc(100% / 3);
  height: 150px;
  object-fit: cover;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px #00c3b1;
}

.count_down_text {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 70%);
  font-size: 100px;
  font-weight: 700;
  color: #555555;
}

.upload_label {
  /* test */
  position: absolute;
  padding: 10%;
  background-color: #fc8da1;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
