.displaynone {
  display: none;
}
.mirror {
  position: absolute;
  transform: scaleX(-1);
}
.box {
  justify-content: center;
  position: relative;
  width: 640px;
  height: 480px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
