.navbar {
  width: 100%;
  height: 74px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
}

.back_btn {
  position: absolute;
  left: 5%;
}
.main_logo {
  position: absolute;
  left: 50%;
  font-family: "oneprettynight", sans-serif;
  transform: translateX(-50%);
}
.dropdown_box {
  position: absolute;
  left: 95%;
  transform: translateX(-100%);
  cursor: pointer;
}
