body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contents_container {
  background: linear-gradient(
    0deg,
    rgba(148, 187, 233, 1) 25%,
    rgba(186, 182, 220, 1) 48%,
    rgba(216, 177, 210, 1) 72%,
    rgba(238, 174, 202, 1) 85%,
    rgba(242, 212, 212, 1) 100%
  );
  height: calc(100vh - 74px);
}

.album_container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.album_container::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.album_container::-webkit-scrollbar-thumb {
  height: 25%; /* 스크롤바의 길이 */
  background: #fc8da1; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.album_container::-webkit-scrollbar-track {
  background: rgb(255, 206, 224); /*스크롤바 뒷 배경 색상*/
}

.img_container {
  width: 200px;
  padding: 20px;
}
.wrap_img {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
}

.wrap_img:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.submit_btns {
  text-align: center;
}
.submit_btns button + button {
  margin-left: 3%;
}

/* modal */

.modal_container {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 600px;
  height: 100%;
  margin: auto;
  background: rgba(27, 27, 27, 0.541);
}
.modal_header {
  padding: 5%;
  width: 100%;
  height: 5%;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content:flex-end;
  color: #555555;
  font-size: 35px;
  font-weight: bold;
  font-family: "oneprettynight", sans-serif;
  
}

.modal_img_container {
  width: 100%;
  height: 84%;
}
.modal_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.modal_control_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10%;
}
.contents_container {
  background: linear-gradient(
    0deg,
    rgba(148, 187, 233, 1) 25%,
    rgba(186, 182, 220, 1) 48%,
    rgba(216, 177, 210, 1) 72%,
    rgba(238, 174, 202, 1) 85%,
    rgba(242, 212, 212, 1) 100%
  );
  height: calc(100vh - 74px);
}

.close {
  position: absolute;
  left : 50px;
  top : 100px;
  justify-content: flex-end;
}